* {margin: 0;padding: 0;}

h1,h2,h3,a {
  font-family: Gotu;
  width: fit-content;
  margin: 0 auto;
}
.displaynone {display: none !important;}

li {list-style: none;}

body {background-color: #060606;color:#e7e7e7}

.title {
  margin: 0 auto;
  font-weight: bold;
  font-size: 32px
}

.subtitle {
  margin: 0 auto;
  font-size: 20px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.74);
}

.gradient {background: linear-gradient(180deg, #0D0D0D 0%, rgba(13, 12, 12, 0.44) 0.01%, rgba(0, 0, 0, 0.79) 100%);}

.slider {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;  
  scrollbar-width: none;
}


.slide {
  width: 150px;
  height: 180px;
  flex-shrink: 0;
  background: #d9d9d9;
  border-radius: 25px;
  /* background: 
  background-size: cover; */
  /* background-image: url(/src/imgs/congregadores\ mão.png); */
}  

.Guardiões {
  background: url(/src/components/imgs/Guardians.png) center;
  background-size: cover;
}